.action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0rem;
}

.action__button {
  border: none;
  background-color: #610F7F;
  padding: 2rem;
  width: 100%;
  font-size: 1.5rem;
  color: white;
}

.action__button:hover {
  background-color: darken($color: #610F7F, $amount: 10);
}