.addoption {
  background-color: #9C528B;
  padding: 1.5rem 0rem;
}

.addoption__input {
  padding: 0.3rem;
  margin-right: 0.3rem;
  width: 80%;
}

.addoption__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addoption__button {
  border: none;
  color: white;
  background-color: #2F0147;
  border-radius: 50%;
  padding: 0.7rem 2rem;
}

.addoption__button:hover {
  background-color: lighten($color: #2F0147, $amount: 20);
}