.header {
  margin-bottom: 4.8rem;
  background-color: #2F0147;
  padding: 2rem;
  line-height: 1rem;
}

.header__title {
  font-size: 2.4rem;
  color: #E2C2C6;
}

.header__subtitle {
  font-size: 1.2rem;
  color: #B9929F;
  font-weight: 500;
}