.option {
  background-color: #EAC2FF;
  padding: 1rem;
  margin: 1rem;
}

.option__button {
  margin-left: 1rem;
  border: none;
  padding: 0.2rem 0.5rem;
  background-color: #2F0147;
  color: white;
}