.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #BF47FF;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.options__button {
  border: none;
  background-color: #2F0147;
  padding: 0.5rem 1rem;
  color: white;
  width: 10rem;
  margin: 0 auto;
}

.options__button:hover {
  background-color: lighten($color: #2F0147, $amount: 10);
}